navi-env/
pyvenv.cfg
__pycache__/
*.py[cod]
*.pyc
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
venv/

.env
.env.*

node_modules/
dist/
dist-ssr/
*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

uploads/
test_data/
cached_transcript.json
